
  <ul class="sidebar-list">
    <li class="sidebar_heading">
      <div class="sidebar-avatar-wrapper">
        <% if(user && user.avatar.includes("google")) {%>
          <img src="<%=user.avatar%>" alt="Profile Picture" class="small-avatar">
      <%} else {%>
          <%if(user) {%>
            <img src="/images/uploads/profile_pictures/<%=user.avatar %>" alt="Profile Picture" class="small-avatar">
          <%} else {%>
            <img src="/images/uploads/profile_pictures/default_user_icon.jpg" alt="Profile Picture" class="small-avatar">
      <%}}%>
      </div>
      <p class="sidebar_username">
        <% if(user) {%>
          Hello, <%= user.name.split(" ")[0] %>
        <%} else {%>
          <a href="/users/login">Sign in</a>
        <%}%>
      </p>
    </li>
    
    <% if(user && user.isAdmin) {%>

      <li class="sidebar_items category_heading">
        ADMIN SECTION
      </li>

      <li class="sidebar_items">
        <a href="/admin/add-product">Add Product</a>
      </li>

      <li class="sidebar_items">
        <a href="/admin/all-users">All Users</a>
      </li>

    <%}%>

    <% if(categories.length) { %>

        <li class="sidebar_items category_heading">
          SHOP BY CATEGORY
        </li>
        
        <% %>
        <% categories.forEach(category => { %>
          <li class="sidebar_items">
            <a href="/product/filter?category=<%=category%>"><%=category%></a>
          </li>
      <% }) %>

    <% } %>
    
    <%if(user) {%>
    <li class="sidebar_items">
      <a href="/users/<%=user.id%>/profile"> Your Account </a>
    </li>
    
    <li class="sidebar_items">
      <a href="/users/logout"> Sign Out</a>
    </li>
    <%}%>
  </ul>

  <button class="cross-btn">
    <i class="fas fa-times cross_icon"></i>
  </button>