<%-include('partials/header')-%>

<%-include('partials/navbar')-%>

<section class="cart-sec">
    <div class="container">
        <% allCartProducts.forEach(item => { 
            if(item.quantity > 0) { %>
                
                <form action="/product/<%=item.product.id%>/cart/update" method="POST" class="cart-card-wrapper">
                
                    <div class="cart-card-left">
                        <div class="cart-image-wrapper">
                            <a href="/product/<%=item.product.id%>/product-page">
                                <img src="/images/uploads/<%=item.product.image%>" alt="Product Image" class="cart-product-image">
                            </a>
                            
                        </div>
        
                        <div class="cart-product-infos">
                            <p class="cart-product-name">
                                <a href="/product/<%=item.product.id%>/product-page"><%=item.product.name%></a>
                                </p>
                            <p class="cart-product-price">₹ <%=item.product.price%></p>
                            <input type="submit" class="cart-product-update" value="Update">
                            <a href="/product/<%=item.product.id%>/cart/remove"><span class="cart-product-remove">Remove</span></a>
                            
                        </div>
                    </div>
    
                    <div class="cart-card-right">
                        <div class="quantity-update-btns">
                            <a href="/product/<%=item.product.id%>/cart/add">
                                <div class="inc-cart-product">+</div>
                            </a>
                            
                            <input class="cart-product-quantity" name="quantity" value="<%=item.quantity%>"/>
                            
                            <a href="/product/<%=item.product.id%>/cart/decrease-quantity">
                                <div class="dec-cart-product">-</div>
                            </a>

                            <input type="hidden" class="calculated-price" value="<%=(item.product.price)*(item.quantity)%>">
                        </div>
                    </div>
                </form>
        <% }
    }) %>

    
    </div>
</section>

<%-include('partials/footer')-%>