<%-include('partials/header')-%>

<%-include('partials/navbar')-%>

<section class="cart-sec">
    <div class="container">
        <% allCartProducts.forEach(item => { 
            if(item.quantity > 0) { %>
                
                <div class="cart-card-wrapper">
                
                    <div class="cart-card-left">
                        <div class="cart-image-wrapper">
                            <a href="/product/<%=item.product.id%>/product-page">
                                <img src="/images/uploads/<%=item.product.image%>" alt="Product Image" class="cart-product-image">
                            </a>
                            
                        </div>
        
                        <div class="cart-product-infos">
                            <p class="cart-product-name">
                                <a href="/product/<%=item.product.id%>/product-page"><%=item.product.name%></a>
                                </p>
                            <p class="cart-product-price">₹ <%=item.product.price%></p>
                            <input type="submit" class="cart-product-update" value="Update">
                            <input type="reset" class="cart-product-remove" value="Remove">
                            
                        </div>
                    </div>
    
                    <div class="cart-card-right">
                        <div class="quantity-update-btns">
                            <a href="/product/<%=item.product.id%>/cart/add">
                                <button class="inc-cart-product">+</button>
                            </a>
                            
                            <input class="cart-product-quantity" name="quantity" value="<%=item.quantity%>" />
                            
                            <a href="/product/<%=item.product.id%>/cart/decrease-quantity">
                                <button class="dec-cart-product">-</button>
                            </a>
                        </div>
    
                        
                    </div>
                </div>
        <% }
    }) %>
    </div>
</section>

<%-include('partials/footer')-%>