<%-include('partials/header')-%>

<%-include('partials/navbar')-%>

<section class="product-section">
    <div class="container product-flex">
        <div class="product-image-btns">
            <div class="product-image-wrapper">
                <img src="/images/uploads/<%=product.image%>" class="individual-product-image">
            </div>
            <div class="cart-btns">
                <button class="add-cart-btn">
                    <a href="/product/<%=product.id%>/cart/add"><i class="fas fa-shopping-cart cart-icon"></i>Add to Cart</a>
                </button>
                <button class="buy-now-btn">
                    <a href="#"><i class="fas fa-play cart-icon"></i> Buy Now</a>
                </button>
            </div>
        </div>
        
        <div class="product-desc-wrapper">
            <h1 class="product-title"><%=product.name%></h1>
            
            <div class="product-header-flex">
                <div>
                    <!-- <p class="product-rating"><%=product.rating%></p> -->
                    <p class="product-category">Category: <a href="/product/filter?category=<%= product.category %>"><%= product.category %></a></p>
                </div>

                <% if(user.isAdmin) {%>
                    <div class="edit-btns">
                        <a href="/admin/<%=product.id%>/edit-product" class="product-edit"> Edit </a>
                        <a href="/admin/<%=product.id%>/delete-product" class="product-delete">Delete</a>
                    </div>
                <% } %>
            </div>
            <div class="product-cost-wrapper">
                <p class="price-tag">Price: </p>
                <p class="price">₹<%=product.price%></p>
            </div>
            <p class="product-desc"><%=product.description%></p>
        </div>
    </div>
</section>

<section class="comment-section">
    <div class="container">
        <div class="comment-flex">
            <p class="comment-sec-heading">
                Reviews
            </p>
            <div>
                <a href="/product/<%=product.id%>/comment/add">
                    <button class="add-comment-btn"> Add Review </button>
                </a>
            </div>
        </div>

    </div>
</section>

<section class="comment-list-sec">
    <div class="container">
        <% product.comments.forEach(comment => {%>
        <div class="comment-card">
            <div class="review-flex">
                <p><i class="fas fa-user-circle reviewer-icon"></i></p>
                <p class="reviewer-name"><%=comment.user.name%></p>
            </div>
            <p class="review-title">
                <%=comment.title%>
            </p>
            <p class="review-date">
                Review on <%=comment.updatedAt.toString().slice(0,15)%>
            </p>

            <p class="review-desc">
                <%=comment.description%>
            </p>
            <% if(user.id == comment.user.id) {%>
            <a href="/product/<%=comment.product%>/comment/<%=comment.id%>/edit" class="edit-comment">Edit</a>
            <a href="/product/<%=comment.product%>/comment/<%=comment.id%>/delete" class="delete-comment">Delete</a>
            <%}%>
        </div>
        <%})%>
    </div>
</section>

<%-include('partials/footer')-%>